<a href="https://colab.research.google.com/github/khairulsholech/google-collab/blob/main/UAS_Proyek_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

3. Apa keluaran dari kode Python ini? Berikan penjelasan singkat Anda untuk setiap nomor.

1. Hello, World!

In [ ]:
#Ini adalah program sederhana yang akan mengeksekusi beberapa perintah

# mencetak "This Line will be printed"
print("This Line will be printed") 
x = 1 #deklarasi variable x dengan nilai 1
if x == 1: #kondisi jika x sama dengan 1
  print("x is 1") #mencetak "x is 1"
  
print("Hello, World!") # mencetak "Hello, World!"

This Line will be printed
x is 1
Hello, World!

2. Variables and Types

In [ ]:
myint = 7 #deklarasi variable myint dengan nilai 7
print(myint) #mencetak nilai dari myint

7

In [ ]:
myfloat = 7.0 #deklarasi variable myfloat dengan nilai 7.0
print(myfloat)
myfloat = float(7) #mengubah tipe data dari integer menjadi float
print(myfloat)

7.0
7.0

In [ ]:
mystring = 'hello' #deklarasi variable mystring dengan nilai 'hello'
print(mystring)
mystring = "hello" #deklarasi variable mystring dengan nilai "hello"
print(mystring)

hello
7

In [ ]:
mystring = "Don't worry about apostrophes" #deklarasi variable mystring dengan nilai "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

In [ ]:
one = 1 #deklarasi variable one dengan nilai 1
two = 2 #deklarasi variable two dengan nilai 2
three = one + two #penjumlahan dari variable one dan two
print(three)

hello = "hello" #deklarasi variable hello dengan nilai "hello"
world = "world" #deklarasi variable world dengan nilai "world"
helloworld = hello + " " + world #penggabungan variable hello dan world dengan spasi
print(helloworld)

3
hello world

In [ ]:
mystring = "hello" #deklarasi variable mystring dengan nilai "hello"
myfloat = 10.0 #deklarasi variable myfloat dengan nilai 10.0
myint = 20 #deklarasi variable myint dengan nilai 20

#testing code
if mystring == "hello": #mengecek apakah variable mystring sama dengan "hello"
  print("String: %s" % mystring) #jika iya, mencetak "String: hello"
if isinstance(myfloat, float) and myfloat == 10.0: #mengecek apakah variable myfloat adalah tipe data float dan sama dengan 10.0
  print("Float: %f" % myfloat) #jika iya, mencetak "Float: 10.000000"
if isinstance(myint, int) and myint == 20: #mengecek apakah variable myint adalah tipe data integer dan sama dengan 20
  print("Integer : %d" % myint) #jika iya, mencetak "Integer: 20"

String: hello
Float: 10.000000
Integer : 20

3. List

In [ ]:
mylist = [] #deklarasi list kosong
mylist.append(1) #menambahkan nilai 1 pada list
mylist.append(2) #menambahkan nilai 2 pada list
mylist.append(3) #menambahkan nilai 3 pada list
print(mylist[0]) # mencetak nilai pada index ke-0 dari mylist yaitu 1
print(mylist[1]) # mencetak nilai pada index ke-1 dari mylist yaitu 2
print(mylist[2]) # mencetak nilai pada index ke-2 dari mylist yaitu 3

# prints out 1,2,3
for x in mylist: #loop untuk setiap x yang ada di mylist
  print(x) #mencetak nilai x

1
2
3
1
2
3

In [ ]:
mylist = [1,2,3] #deklarasi list dengan nilai [1,2,3]
#print(mylist[10]) # akan error jika diaktifkan ( list index out of range )

numbers = [] #deklarasi list kosong
strings = [] #deklarasi list kosong
names = ["john", "Eric", "Jessica"] #deklarasi list dengan nilai ["john", "Eric", "Jessica"]

# write your code here
numbers.append(1) #menambahkan nilai 1 pada list numbers
numbers.append(2) #menambahkan nilai 2 pada list numbers
numbers.append(3) #menambahkan nilai 3 pada list numbers

strings.append("hello") #menambahkan string "hello" pada list strings
strings.append("world") #menambahkan string "world" pada list strings

second_name = names[1] #menyimpan nilai pada index ke-1 dari list names yaitu "Eric" ke variable second_name

# this code should write out the filled array and the second name in the list (Eric).

print(numbers) #mencetak list numbers
print(strings) #mencetak list strings
print("The second name on the names list is %s" % second_name) #mencetak string "The second name on the names list is Eric"

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

4. Basic Operator

In [ ]:
number = 1 + 2 * 3 / 4.0 #melakukan operasi matematika dengan operator presedensi
print(number) #mencetak hasil operasi

2.5

In [ ]:
reminder = 11 % 3 #mencari sisa hasil pembagian 11/3
print(reminder) #mencetak hasil sisa pembagian

2

In [ ]:
squared = 7 ** 2 #mencari 7 pangkat 2
cubed = 2 ** 3 #mencari 2 pangkat 3
print(squared) #mencetak hasil 7 pangkat 2
print(cubed) #mencetak hasil 2 pangkat 3

49
8

In [ ]:
helloworld = "hello" + " " + "world" #menggabungkan string "hello" dan "world" dengan spasi
print(helloworld) #mencetak hasil penggabungan

hello world

In [ ]:
lotsofhellos = "hello" * 10 #menggandakan string "hello" sebanyak 10 kali
print(lotsofhellos) #mencetak hasil pengandaan

hellohellohellohellohellohellohellohellohellohello

In [ ]:
even_numbers = [2,4,6,8] #deklarasi list dengan nilai [2,4,6,8]
odd_numbers = [1,3,5,7] #deklarasi list dengan nilai [1,3,5,7]
all_numbers = odd_numbers + even_numbers #menggabungkan list odd_numbers dan even_numbers
print(all_numbers) #mencetak hasil penggabungan

[1, 3, 5, 7, 2, 4, 6, 8]

In [ ]:
print([1,2,3] * 3) #menggandakan list [1,2,3] sebanyak 3 kali

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
x = object() #deklarasi objek x
y = object() #deklarasi objek y

# TODO: change this code
x_list = [x] * 10 #menggandakan objek x sebanyak 10 kali
y_list = [x] * 10 #menggandakan objek x sebanyak 10 kali
big_list = x_list + y_list #menggabungkan x_list dan y_list

print("x_list contains %d objects" % len(x_list)) #mencetak jumlah objek pada x_list
print("y_list contains %d objects" % len(y_list)) #mencetak jumlah objek pada y_list
print("big_list contains %d objects" % len(big_list)) #mencetak jumlah objek pada big_list

# testing code

if x_list.count(x) == 10 and y_list.count(y) == 10: #mengecek jumlah objek x pada x_list sama dengan 10 dan jumlah objek y pada y_list sama dengan 10
  print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10: #mengecek jumlah objek x pada big_list sama dengan 10 dan jumlah objek y pada big_list sama dengan 10
  print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects