<a href="https://colab.research.google.com/github/khairulsholech/google-collab/blob/main/5_1_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAMA : Khairul Sholech

NIM  : 41519120068

MATKUL : MACHINE LEARNING

KELOMPOK 2

In [ ]:
#Mount Google Drive 
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import math
import operator

SetItem = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/k-NN/knn-burgerstar - Training.csv')
SetItem.head()

   Makan  Minum Class
0      7      4     A
1      8      5     A
2      5      7     B
3      6      8     B
4      5      4     B

In [ ]:
# Defining a function which calculates euclidean distance between two data points
def euclideanDistance(data1, data2, length):
    distance = 0
    for x in range(length):
        distance += np.square(data1[x] - data2[x])
    return np.sqrt(distance)

# Defining our KNN model
# This is the approach a Brute force, where distance from all values are calculated then nearest neighbours 
# with least distance are identified
# Brute force performs worst when there are large dimensions and large training set
def knn(trainingSet, testInstance, k):
 
    distances = {}
    sort = {}
 
    length = testInstance.shape[1]
    
    #### Start of STEP 3
    # Calculating euclidean distance between each row of training data and test data
    for x in range(len(trainingSet)):
        
        #### Start of STEP 3.1
        dist = euclideanDistance(testInstance, trainingSet.iloc[x], length)
        distances[x] = dist[0]
        #### End of STEP 3.1
 
    #### Start of STEP 3.2
    # Sorting them on the basis of distance
    sorted_d = sorted(distances.items(), key=operator.itemgetter(1))
    #### End of STEP 3.2
 
    neighbors = []
    
    #### Start of STEP 3.3
    # Extracting top k neighbors
    for x in range(k):
        neighbors.append(sorted_d[x][0])
    #### End of STEP 3.3
    
    classVotes = {}
    
    #### Start of STEP 3.4
    # Calculating the most freq class in the neighbors
    for x in range(len(neighbors)):
        response = trainingSet.iloc[neighbors[x]][-1]
 
        if response in classVotes:
            classVotes[response] += 1
        else:
            classVotes[response] = 1
#         print (classVotes)
    #### End of STEP 3.4

    #### Start of STEP 3.5
    sortedVotes = sorted(classVotes.items(), key=operator.itemgetter(1), reverse=True)
    print (sortedVotes)
    return(sortedVotes[0][0], neighbors)
    #### End of STEP 3.5

In [ ]:
testSet = [[3.0, 6.0]]
test = pd.DataFrame(testSet)

In [ ]:
# Setting number of neighbors = 3 
k = 3 
# Running KNN model 
result,neigh = knn(SetItem, test, k) 
# Predicted class 
print(result)

[('B', 3)]
B

In [ ]:
print(neigh)

[2, 4, 3]